/*
Setting the padding and margin of the webpage and using border-box to include borders and padding in the width and height
*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*
Setting background colour of the body to a beige colour
*/
body {
    background-color: #d9dcd6;
}

/*
Adding padding to header, setting the font, making the background a blue colour, and the text white 
*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*
Setting h1 in header to font size of 48 pixels, display as inline-block
*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*
Setting the span class of .seo within the header h1 to a different colour
*/
.header h1 .seo {
    color: #d9dcd6;
}

/*
Setting the nav inside the header to have a padding of 15px on the top of the links, a margin of 20px from the right of the screen, float assigning the position of the content to the right, declaring the font, and setting font size to 20px
*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*

*/
.header nav ul {
    list-style-type: none;
}

/* 
Using inline-block to display list items horizontally with a respected margin on the left 
*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* 
Colouring all <a> tags with a beige-white colour and removing the default text-decoration of underline 
*/
a {
    color: #ffffff;
    text-decoration: none;
}

/* 
Making all content within every <p> tag a font-size of 16px
*/
p {
    font-size: 16px;
}

/*
Setting the height of the image to 800px and making the width span the entire screen. Margin of 25px given to the bottom of image between the .content. Centering the image and setting the size to cover so it fills the entire body container.
*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*
Made width of .content 75% of the body container and using display: inline-block to allow room for aside content. Margin of 20px included on the left of container for better styling.
*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* 
Putting a margin of 20px at bottom of each class to space out boxes.
Padding of 50px set to allow room around the content of each class.
Height of each class set to 300px.
Each class has the same font, blue background colour, and white text.
*/
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing
 {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* 
Set maximum height images for each class to 200px.
*/
.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
    max-height: 200px;
}

/*
Added a 20px margin between h2 and p elements. 
Set font size to 36px.
*/
.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.float-left,
.float-right {
    float: left;
    margin-right: 25px;
}


.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead,
.benefit-brand,
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
